$main-text: #363636;
$green-title: #45852D;
$grey-bg: #f8f8f8;
$btn-border: #d8d8d8;
$white: #ffffff;
$orange-tag: #ec6608;
$green-tag: #006f79;
$hover-shadow: rgba(50, 50, 50, 0.25);

$font-main: "Open Sans", "Arial", sans-serif;

$mobile-width: 670px;
$tablet-width: 1040px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
